In [147]:
import pandas as pd

In [148]:
input=pd.read_csv('/content/EmployeeAttrition.csv')

In [149]:
input.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [150]:
x=input.drop('Attrition',axis=1)
y=input.iloc[:,1]
print(x.info())
print(y.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 34 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   BusinessTravel            1470 non-null   object
 2   DailyRate                 1470 non-null   int64
 3   Department                1470 non-null   object
 4   DistanceFromHome          1470 non-null   int64
 5   Education                 1470 non-null   int64
 6   EducationField            1470 non-null   object
 7   EmployeeCount             1470 non-null   int64
 8   EmployeeNumber            1470 non-null   int64
 9   EnvironmentSatisfaction   1470 non-null   int64
 10  Gender                    1470 non-null   object
 11  HourlyRate                1470 non-null   int64
 12  JobInvolvement            1470 non-null   int64
 13  JobLevel                  1470 non-null   int64
 14  JobRole                   1470 non-null   object
 15  JobSatisfaction           1470 non-null   int64
 16  MaritalStatus             1470 non-null   object
 17  MonthlyIncome             1470 non-null   int64
 18  MonthlyRate               1470 non-null   int64
 19  NumCompaniesWorked        1470 non-null   int64
 20  Over18                    1470 non-null   object
 21  OverTime                  1470 non-null   object
 22  PercentSalaryHike         1470 non-null   int64
 23  PerformanceRating         1470 non-null   int64
 24  RelationshipSatisfaction  1470 non-null   int64
 25  StandardHours             1470 non-null   int64
 26  StockOptionLevel          1470 non-null   int64
 27  TotalWorkingYears         1470 non-null   int64
 28  TrainingTimesLastYear     1470 non-null   int64
 29  WorkLifeBalance           1470 non-null   int64
 30  YearsAtCompany            1470 non-null   int64
 31  YearsInCurrentRole        1470 non-null   int64
 32  YearsSinceLastPromotion   1470 non-null   int64
 33  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(8)
memory usage: 390.6+ KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 1470 entries, 0 to 1469
Series name: Attrition
Non-Null Count  Dtype
--------------  -----
1470 non-null   object
dtypes: object(1)
memory usage: 11.6+ KB
None

In [151]:
df1=input.select_dtypes(include=['object'])
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Attrition       1470 non-null   object
 1   BusinessTravel  1470 non-null   object
 2   Department      1470 non-null   object
 3   EducationField  1470 non-null   object
 4   Gender          1470 non-null   object
 5   JobRole         1470 non-null   object
 6   MaritalStatus   1470 non-null   object
 7   Over18          1470 non-null   object
 8   OverTime        1470 non-null   object
dtypes: object(9)
memory usage: 103.5+ KB

In [152]:
# input.select_dtypes(include=['int64']).info()
input.select_dtypes(exclude=['int64']).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Attrition       1470 non-null   object
 1   BusinessTravel  1470 non-null   object
 2   Department      1470 non-null   object
 3   EducationField  1470 non-null   object
 4   Gender          1470 non-null   object
 5   JobRole         1470 non-null   object
 6   MaritalStatus   1470 non-null   object
 7   Over18          1470 non-null   object
 8   OverTime        1470 non-null   object
dtypes: object(9)
memory usage: 103.5+ KB

In [153]:
input.isnull().sum()
# input.isnull().sum(axis=1)

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [154]:
input.isnull().sum()/input.size

Age                         0.0
Attrition                   0.0
BusinessTravel              0.0
DailyRate                   0.0
Department                  0.0
DistanceFromHome            0.0
Education                   0.0
EducationField              0.0
EmployeeCount               0.0
EmployeeNumber              0.0
EnvironmentSatisfaction     0.0
Gender                      0.0
HourlyRate                  0.0
JobInvolvement              0.0
JobLevel                    0.0
JobRole                     0.0
JobSatisfaction             0.0
MaritalStatus               0.0
MonthlyIncome               0.0
MonthlyRate                 0.0
NumCompaniesWorked          0.0
Over18                      0.0
OverTime                    0.0
PercentSalaryHike           0.0
PerformanceRating           0.0
RelationshipSatisfaction    0.0
StandardHours               0.0
StockOptionLevel            0.0
TotalWorkingYears           0.0
TrainingTimesLastYear       0.0
WorkLifeBalance             0.0
YearsAtCompany              0.0
YearsInCurrentRole          0.0
YearsSinceLastPromotion     0.0
YearsWithCurrManager        0.0
dtype: float64

In [155]:
input.nunique()

Age                           43
Attrition                      2
BusinessTravel                 3
DailyRate                    886
Department                     3
DistanceFromHome              29
Education                      5
EducationField                 6
EmployeeCount                  1
EmployeeNumber              1470
EnvironmentSatisfaction        4
Gender                         2
HourlyRate                    71
JobInvolvement                 4
JobLevel                       5
JobRole                        9
JobSatisfaction                4
MaritalStatus                  3
MonthlyIncome               1349
MonthlyRate                 1427
NumCompaniesWorked            10
Over18                         1
OverTime                       2
PercentSalaryHike             15
PerformanceRating              2
RelationshipSatisfaction       4
StandardHours                  1
StockOptionLevel               4
TotalWorkingYears             40
TrainingTimesLastYear          7
WorkLifeBalance                4
YearsAtCompany                37
YearsInCurrentRole            19
YearsSinceLastPromotion       16
YearsWithCurrManager          18
dtype: int64

In [156]:
f1=input.nunique()<5
input.loc[:,f1].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Attrition                 1470 non-null   object
 1   BusinessTravel            1470 non-null   object
 2   Department                1470 non-null   object
 3   EmployeeCount             1470 non-null   int64
 4   EnvironmentSatisfaction   1470 non-null   int64
 5   Gender                    1470 non-null   object
 6   JobInvolvement            1470 non-null   int64
 7   JobSatisfaction           1470 non-null   int64
 8   MaritalStatus             1470 non-null   object
 9   Over18                    1470 non-null   object
 10  OverTime                  1470 non-null   object
 11  PerformanceRating         1470 non-null   int64
 12  RelationshipSatisfaction  1470 non-null   int64
 13  StandardHours             1470 non-null   int64
 14  StockOptionLevel          1470 non-null   int64
 15  WorkLifeBalance           1470 non-null   int64
dtypes: int64(9), object(7)
memory usage: 183.9+ KB

In [157]:
input.drop_duplicates(inplace=True)

Pre-Processing

In [158]:
#Seperate X and Y
X=input.drop('Attrition',axis=1)
Y=input['Attrition']

In [159]:
X.shape,Y.shape

((1470, 34), (1470,))

In [160]:
#Train Test split
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=7)

In [161]:
X_train.shape,X_test.shape,Y_train.shape,Y_test.shape

((1029, 34), (441, 34), (1029,), (441,))

In [162]:
#Percentage Of missing value
input.isnull().sum()/input.shape[0]*100

Age                         0.0
Attrition                   0.0
BusinessTravel              0.0
DailyRate                   0.0
Department                  0.0
DistanceFromHome            0.0
Education                   0.0
EducationField              0.0
EmployeeCount               0.0
EmployeeNumber              0.0
EnvironmentSatisfaction     0.0
Gender                      0.0
HourlyRate                  0.0
JobInvolvement              0.0
JobLevel                    0.0
JobRole                     0.0
JobSatisfaction             0.0
MaritalStatus               0.0
MonthlyIncome               0.0
MonthlyRate                 0.0
NumCompaniesWorked          0.0
Over18                      0.0
OverTime                    0.0
PercentSalaryHike           0.0
PerformanceRating           0.0
RelationshipSatisfaction    0.0
StandardHours               0.0
StockOptionLevel            0.0
TotalWorkingYears           0.0
TrainingTimesLastYear       0.0
WorkLifeBalance             0.0
YearsAtCompany              0.0
YearsInCurrentRole          0.0
YearsSinceLastPromotion     0.0
YearsWithCurrManager        0.0
dtype: float64

In [163]:
#Check column with single value
X_train.nunique()
X_train.drop(['Over18','EmployeeCount','StandardHours'],axis=1,inplace=True)
X_test.drop(['Over18','EmployeeCount','StandardHours'],axis=1,inplace=True)

In [164]:
X_train.shape,X_test.shape

((1029, 31), (441, 31))

In [165]:
#Remove Repeated Rows
#
X_train.drop_duplicates(inplace=True)
X_train.shape

(1029, 31)

In [166]:
#Encoding String Column
#Ordinal->label encoding
#Nominal->Hot encoding
# ord_columns=['BusinessTravel']
# X_train['BusinessTravel'].unique()

label_map={'BusinessTravel':{'Travel_Rarely':1,
                             'Non-Travel':0,
                             'Travel_Frequently':2}}
X_train.replace(label_map,inplace=True)
X_train['BusinessTravel'].unique()
X_test.replace(label_map,inplace=True)
X_test['BusinessTravel'].unique()

array([1, 2, 0])

In [167]:
#One Hot encoding
# X_train.dtypes
X_train_ohe=pd.get_dummies(X_train)
X_train.shape,X_train_ohe.shape
# X_train_ohe.columns

((1029, 31), (1029, 50))

In [168]:
X_train_ohe.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1029 entries, 907 to 175
Data columns (total 50 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                1029 non-null   int64
 1   BusinessTravel                     1029 non-null   int64
 2   DailyRate                          1029 non-null   int64
 3   DistanceFromHome                   1029 non-null   int64
 4   Education                          1029 non-null   int64
 5   EmployeeNumber                     1029 non-null   int64
 6   EnvironmentSatisfaction            1029 non-null   int64
 7   HourlyRate                         1029 non-null   int64
 8   JobInvolvement                     1029 non-null   int64
 9   JobLevel                           1029 non-null   int64
 10  JobSatisfaction                    1029 non-null   int64
 11  MonthlyIncome                      1029 non-null   int64
 12  MonthlyRate                        1029 non-null   int64
 13  NumCompaniesWorked                 1029 non-null   int64
 14  PercentSalaryHike                  1029 non-null   int64
 15  PerformanceRating                  1029 non-null   int64
 16  RelationshipSatisfaction           1029 non-null   int64
 17  StockOptionLevel                   1029 non-null   int64
 18  TotalWorkingYears                  1029 non-null   int64
 19  TrainingTimesLastYear              1029 non-null   int64
 20  WorkLifeBalance                    1029 non-null   int64
 21  YearsAtCompany                     1029 non-null   int64
 22  YearsInCurrentRole                 1029 non-null   int64
 23  YearsSinceLastPromotion            1029 non-null   int64
 24  YearsWithCurrManager               1029 non-null   int64
 25  Department_Human Resources         1029 non-null   bool
 26  Department_Research & Development  1029 non-null   bool
 27  Department_Sales                   1029 non-null   bool
 28  EducationField_Human Resources     1029 non-null   bool
 29  EducationField_Life Sciences       1029 non-null   bool
 30  EducationField_Marketing           1029 non-null   bool
 31  EducationField_Medical             1029 non-null   bool
 32  EducationField_Other               1029 non-null   bool
 33  EducationField_Technical Degree    1029 non-null   bool
 34  Gender_Female                      1029 non-null   bool
 35  Gender_Male                        1029 non-null   bool
 36  JobRole_Healthcare Representative  1029 non-null   bool
 37  JobRole_Human Resources            1029 non-null   bool
 38  JobRole_Laboratory Technician      1029 non-null   bool
 39  JobRole_Manager                    1029 non-null   bool
 40  JobRole_Manufacturing Director     1029 non-null   bool
 41  JobRole_Research Director          1029 non-null   bool
 42  JobRole_Research Scientist         1029 non-null   bool
 43  JobRole_Sales Executive            1029 non-null   bool
 44  JobRole_Sales Representative       1029 non-null   bool
 45  MaritalStatus_Divorced             1029 non-null   bool
 46  MaritalStatus_Married              1029 non-null   bool
 47  MaritalStatus_Single               1029 non-null   bool
 48  OverTime_No                        1029 non-null   bool
 49  OverTime_Yes                       1029 non-null   bool
dtypes: bool(25), int64(25)
memory usage: 234.1 KB

In [169]:
#Fill Missing Vales
num_cols=X_train.select_dtypes(exclude='object').columns
num_cols
training_median_value=X_train.loc[:,num_cols].median()
X_train.fillna(training_median_value,inplace=True)
X_test.fillna(training_median_value,inplace=True)

In [174]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1029 entries, 907 to 175
Data columns (total 31 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1029 non-null   int64
 1   BusinessTravel            1029 non-null   int64
 2   DailyRate                 1029 non-null   int64
 3   Department                1029 non-null   object
 4   DistanceFromHome          1029 non-null   int64
 5   Education                 1029 non-null   int64
 6   EducationField            1029 non-null   object
 7   EmployeeNumber            1029 non-null   int64
 8   EnvironmentSatisfaction   1029 non-null   int64
 9   Gender                    1029 non-null   object
 10  HourlyRate                1029 non-null   int64
 11  JobInvolvement            1029 non-null   int64
 12  JobLevel                  1029 non-null   int64
 13  JobRole                   1029 non-null   object
 14  JobSatisfaction           1029 non-null   int64
 15  MaritalStatus             1029 non-null   object
 16  MonthlyIncome             1029 non-null   int64
 17  MonthlyRate               1029 non-null   int64
 18  NumCompaniesWorked        1029 non-null   int64
 19  OverTime                  1029 non-null   object
 20  PercentSalaryHike         1029 non-null   int64
 21  PerformanceRating         1029 non-null   int64
 22  RelationshipSatisfaction  1029 non-null   int64
 23  StockOptionLevel          1029 non-null   int64
 24  TotalWorkingYears         1029 non-null   int64
 25  TrainingTimesLastYear     1029 non-null   int64
 26  WorkLifeBalance           1029 non-null   int64
 27  YearsAtCompany            1029 non-null   int64
 28  YearsInCurrentRole        1029 non-null   int64
 29  YearsSinceLastPromotion   1029 non-null   int64
 30  YearsWithCurrManager      1029 non-null   int64
dtypes: int64(25), object(6)
memory usage: 257.2+ KB

#Standardize the Data
-Standard Scalar(Z-score)=(X- mean)/Std_dev
-MinMax Scalar
-Robust Scalar

In [173]:
from sklearn.preprocessing import StandardScaler
sd =StandardScaler()
sd.fit(X_train,Y_train)

ValueError: could not convert string to float: 'Sales'